:root {
  --border: 215 16% 47%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  overflow: hidden;
  border-right: .15em solid #1FD978;
  white-space: pre-wrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #1FD978 }
}

