:root {
  --red: #DA1333;
  --dark-blue: #213875;
  --navy: #0A0228;
  --white: #FFFFFF;
  --border: 215 16% 47%;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Metropolis', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  overflow: hidden;
  border-right: .15em solid #DA1333;
  white-space: pre-wrap;
  margin: 0 auto;
  animation: xw
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #DA1333 }
}

@keyframes rainbow {
  0% { color: #ff0000; }
  17% { color: #ff8000; }
  33% { color: #ffff00; }
  50% { color: #00ff00; }
  67% { color: #0000ff; }
  83% { color: #8000ff; }
  100% { color: #ff0000; }
}

.rainbow-text {
  font-weight: bold;
  /* animation: rainbow 4s linear infinite; */
  text-decoration: none;
}

.rainbow-text:hover {
  text-decoration: underline;
}

/* Typography */
.title-lrg {
  font-family: var(--primary-font);
  font-weight: 800;
  text-transform: uppercase;
}

.subheading {
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--red);
}

.body-text {
  font-family: var(--primary-font);
  font-weight: 400;
}

/* Buttons */
.btn-red {
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
}

.btn-blue {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 5px;
}

.btn-white-border {
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 5px;
}

/* Cards/Boxes */
.card {
  background-color: var(--white);
  box-shadow: 0 4px 6px red(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-header-red {
  background-color: var(--red);
  color: var(--white);
}

.card-header-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Overlays */
.overlay-dblue-20 {
  background-color: rgba(37, 52, 122, 0.2);
}

/* Hover States */
.hover\:bg-darkBlue:hover {
  background-color: var(--dark-blue);
}

.hover\:bg-navy:hover {
  background-color: var(--navy);
}

.some-ui-element {
  font-family: var(--secondary-font);
}

